/* CSS for the Saldo application */

body {
    font-family: sans-serif;;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1, h3.output {
    text-align: center;
}

.querychoice {
    border: 1px solid #000;
    width: 300px;
    height: 200px;
    margin: 0 10px;
    padding: 10px;
    float: left;
    font-size: 0.9em;
}

#controlbox {
    width: 400px;
    margin: auto;
}

#prevbutton, #nextbutton {
    width: 25px;
    height: 50px;
    float: left;
    position: relative;
    top: 80px;
}

#prevbutton a, #nextbutton a {
    display: block;
    width: 100%;
    height: 100%;
}

#prevbutton {
    background-image: url("../img/leftbutton-inactive.png");
}

#nextbutton {
    background-image: url("../img/rightbutton.png");
}

#displaybox {
    float: left;
    width: 342px;
    height: 240px;
    overflow: hidden;
    margin: auto;
}

#querybox {
    width: 1380px;
    height: 240px;
    transition: transform 1s;
    -moz-transition: -moz-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -o-transition: -o-transform 1s;
    -ms-transition: -ms-transform 1s;
}

#buttons {
    margin: auto;
    width: 360px;
}

#output {
    border: 1px solid #000;
    margin: auto;
    padding: 20px;
    background-color: #ccc;
    width: 800px;
    min-height: 200px;
}

input {
    width: 240px;
    padding: 4px;
}

button {
    margin: 8px 1px;
}
